html, body {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size:cover;
    background: black;
  }
  /*Scrollbar*/
  ::-webkit-scrollbar{
    appearance: none;
    width: 5px;
    background-color: black;
  }
::-webkit-scrollbar-thumb{
    appearance: none;
    background: white;
    border-radius: 5px;
  }
  /*All navs*/
  .nav_1{
    position: fixed;
    opacity: 1;
    width:100%;
    display: flex;
    list-style-type: none;
    justify-content: end;
    gap: 2%;
    flex-wrap: wrap;
    align-items: center;
  }
  .nav_1 > .menu_button{
    padding: 20px 20px;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    margin-right: 50px;
    color: white;
  }
  .nav_1 > .menu_button {
    z-index: 1;
  }
  .menu_button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    z-index: -1;
     background: #5bf403;
    transition: all 0.3s ease;
  }
  .menu_button:hover:after {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  /*Mobile nav*/
  #mobile-button {
    position: absolute;
    right: 2em;
    top: 3em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    display: none;
  }
  #mobile-button span{
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all .2s ease-in-out;
  }
  #mobile-button span::before, #mobile-button span::after{
    height: 4px;
    width: 35px;
    border-radius: 2px;
    position: absolute;
    background-color: white;
    content: "";
    transition: all .2s ease-in-out;
  }
  #mobile-button span::before{
    top: -10px;
    visibility: visible;
  }
  #mobile-button span::after{
    top: 10px;
  }
  #mobile-button:hover span,  #mobile-button:hover span:before,  #mobile-button:hover span:after{
    background: #333332;
  }  
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ #mobile-menu{
    visibility: visible;
  }
  input[type=checkbox]:checked ~ #mobile-button:hover span, 
  input[type=checkbox]:checked ~ #mobile-button span{
    background: transparent;
  }
  input[type=checkbox]:checked ~ #mobile-button span::after{
    transform: rotate(-45deg) translate(7px, -7px);
  }
  input[type=checkbox]:checked ~ #mobile-button span::before{
    transform: rotate(45deg) translate(7px, 7px);
    opacity: 1;
  }  
  #mobile-menu {
    min-width: 100%;
    min-height: 100%;
    background: #ec6451;
    z-index: 2;
    visibility: hidden;
    position: fixed;
    display: none;
  }
  #mobile-menu.active {
    visibility: visible;
  }
  #mobile-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }
  #mobile-menu ul li{
    padding: 1em;
  }
  #mobile-menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  #mobile-menu ul li a:hover{
    color: #333332;
  }
.form{
    width:340px;
    height:440px;
    background:white;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c
}
input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}
input:focus{
    border-bottom:2px solid #78788c
}
p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}
button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}
button:hover{
    background:#38094b;
    color:#fff
}
div{content:'Hi';
    position:absolute;
    bottom:-15px;
    right:-20px;
    background:#440252;
    color:#fff;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000
}
span{
    margin:0 5px 0 15px
}
@media (max-width: 780px) {
    #mobile-menu, #mobile-button{
      display: block;
    }
    .nav_1{
      display: none;
    }
    }
@media (max-width: 780px) {
#mobile-menu, #mobile-button{
    display: block;
}
.nav_1{
    display: none;
}
}
@media (min-width: 780px) and (max-width: 1020px) {
#mobile-menu, #mobile-button{
    display: block;
}
.nav_1{
    display: none;
}
}
@media (min-width: 1020px) and (max-width: 1200px) {
#mobile-menu, #mobile-button{
    display: block;
}
.nav_1{
    display: none;
}
}
@media (min-width: 1200px) and (max-width: 1600px){
#mobile-menu, #mobile-button{
    display: block;
}
.nav_1{
    display: none;
}
}
    
    
  